/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Oxygen', 'Varela Round', sans-serif;
	line-height: 1.5;
	font-size: 1em;
}

img {
	max-width: 90%;

}

nav {
	list-style-type: none;
	padding-left: 0;
	font-weight: bold;
}

nav a {
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
}

h1 {
	margin-top: 0;
}

h4 {
	margin-bottom: 10px;
}

h3{
	text-transform: uppercase;
	padding: 1em 0 .5em 0;
}

p {
	margin: 8px 0;
	color: darkgrey;
}

div {	
	padding: 1em 1em;
	text-align: center;
}

.contact {
	background-color: #F8F8F8;
	padding: 1em 1em 2em 1em;
}

.contact h4 {
	padding: 0;
	margin-bottom: 1.5em;
	text-transform: uppercase;
}

.small-footer {
	padding: 1em .5em 1em .5em;
	margin-top: 1em;
}

span,
address a {
	line-height: 2;
	text-decoration: none;
	color: darkgrey;
}

address a {
	font-weight: bold;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav {
	text-align: center;
}

.main-nav a {
	padding: 5px 10px;
	display: block;
	background-color: #F8F8F8;
	margin: 5px 15px;
	text-transform: uppercase;
	color: #000000;
}

.main-nav a:hover,
.small-footer a:hover {
	color: lightskyblue;
}


/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	text-align: center;
	padding-bottom: 1em;
	background-color: lightslategrey;
}

.banner {
	padding: 2em 1em;
	background-color: #F8F8F8;
}


/* ---- Page Elements ---- */

.self-intro {
	color: dimgray;
}

.portfolio {
	text-align: center;
	padding: 0;
}

#portfolio {
	color: cornflowerblue;
	font-family: 'Varela Round';
}

#skills{
	color: cornflowerblue;
	font-family: 'Varela Round';
	margin-top: 0;
}

.footer-nav {
	position: relative;
	padding-right: 0;
	padding-left: 0;
}

.return-top {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 1em .5em;
}

.student-name {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0;
	padding: 1em .5em;
}

.small-footer {
	background-color: lightslategrey;
	margin: 0;
	padding-top: 40px;
}


.small-footer a {
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: .9em;
}

.bottom-nav {
	display: none;
}

/* ================================= 
  Media Queries
==================================== */

/* Media Query 768px to 1023px*/

@media (min-width: 768px) and (max-width: 1024px) {

	/*   Element Styles  */

	.main-nav a {
		display: inline-block;
		background-color: #778899;
		padding-left: 1em;
		padding-right: 1em;
	}

	h1 {
		margin: 0;
		padding-left: .5em;
		padding-top: 1em;
	}

	.column p {
		max-width: 90%;
		margin-left: 1.5em;
	}

	.column {
		width: 48%;
		height: 410px;
		float: left;
		padding-bottom: 0;
	}

	.small-footer {
		display: none;
	}

	footer {
		padding: 1em 1.6em 3em 2em;
		background-color: #778899;
	}


	/* Base Layout Styles*/

	.main-nav a:hover {
		color: lightskyblue;
	}

	.profile-pic {
		float: right;
		margin-left: 1em;
	}
	
	p.self-intro {
		text-align: left;
		margin-left: 1em;
	}

	.row {
		padding-right: 1em;
		
	}

	.contact {
		padding: 4em 6em;
	}

	.contact p {
		font-size: 1.3em;
		line-height: 1.3em;
	}

	address {
		padding-top: 2em;
	}

	.bottom-nav {
		display: contents;
	}

	.bottom-name {
		float: left;
		margin: 0;
		padding-top: 15px;
	}

	.bottom-nav a{
		display: inline-block;
		padding-left: 1.3em;
		color: #000000;
		text-transform: uppercase;
	}

	.sub-nav {
		float: right;
	}
	
	.sub-nav a:hover {
		color: lightskyblue;
	}
}


/* Media Query 1024px or larger */

@media (min-width: 1024px) {

	/*   Element Styles  */

	body {
		font-size: 1.2em;
	}

	header {
		padding-bottom: 0;
	}
	
	.main-header {
		padding-bottom: 0;
		padding-top: 1em;
		padding-right: 1em;
	}

	.main-nav{
		float: right;
	}

	nav.main-nav  {
		padding-bottom: .6em;
	}

	div.navigation {
		padding-bottom: 0;
	}

	.main-nav a{
		padding-top: 1.9em;
		padding-bottom: 0;
		padding-right: 0;
		background-color: #778899;
		margin-bottom: 0;
		margin-left: 0.5em;
		margin-right: 0;
		display: inline-block;
	}

	.main-nav a:hover,
	.sub-nav a:hover {
		color: lightskyblue;
	}

	h1 {
		float: left;
		font-size: 25px;
		margin: 0 0 0 3em;
		padding-top: 2.2em;
	}

	.profile-pic {
		float: right;
		margin-left: 1em;
	}
	
	p.self-intro {
		text-align: left;
		margin-left: 1em;
		font-size: 1em;
	}

	.bottom-nav {
		display: contents;
	}

	.small-footer {
		display: none;
	}

	footer {
		padding: 1em 1.8em 1em 2em;
		background-color: #778899;
	}

	.bottom-name {
		float: left;
		margin: 0;
		padding-top: 1.5em;
		font-size: .8em;
	}

	.bottom-nav a {
		display: inline-block;
		padding-left: 2em;
		color: #000000;
		text-transform: uppercase;
		font-size: .8em;
	}

	.sub-nav {
		float: right;
	}
	

	/* Base Layout Styles*/

	.profile-pic {
		margin-right: 2em;
		margin-left: 2em;
	}

	p.self-intro {
		padding-left: 2em;
		padding-right: 2em;
	}

	.column {
		width: 33.33%;
		float: left;
	}

	.column p {
		max-width: 90%;
		margin: 0 .5em;
		line-height: 1.4;
		font-size: 1rem;;
	}

	.contact {
		padding: 1em 5em 3em 5em;
	}

}

/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}



